<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> <%= link_to @student.to_s, student_path(@student) %> : </h1>
    <p> <% if @student.active %>
      <%= "This student is currently active." %>
        <% else %>
        <%="This student is currently inactive." %>
        <%end %>
      </p>
  </h1>

  </body>
</html>
